html,
body {
  height: 100%;
}
.keyboard {
  width: 100%;
  height: 100%;
}
.key {
  display: inline-block;
  background-color: #fff;
  height: 100%;
  width: 13.95%;
  border: 1px solid black;
  border-radius: 1vw;
  margin: -1px;
}
div:nth-child(12n-10),
div:nth-child(12n-8),
div:nth-child(12n-5),
div:nth-child(12n-3),
div:nth-child(12n-1) {
  margin: -1px -3%;
  background-color: #000;
  vertical-align: top;
  height: 60%;
  width: 6%;
  border: none;
  position: relative;
}
